<p id="notice"><%= notice %></p>

<h1>Liste rareté</h1>

<% @rarities.each do |rarity| %>
        <div style="width:50%;float:left;">
        <a href="<%= rarity.picture %>"><img src="<%= rarity.picture %>" id="img-form"></a>
          <p>Nom: <%= rarity.name %></p>
          <p>Couleur: <%= rarity.color %></p>

          <% if (user_signed_in?) && current_user.admin? %>
            <%= link_to 'Modifier', edit_rarity_path(rarity), class:'btn btn-warning' %>
            <%= link_to 'Effacer', rarity, class:'btn btn-danger', method: :delete, data: { confirm: 'Êtes-vous sur de supprimer cette rareté?' } %>
          <% end %>
        </div>
<% end %>

<br>

<% if (user_signed_in?) && current_user.admin? %>
<%= link_to 'Ajouter', new_rarity_path, class:'btn btn-info add-class' %>
<% end %>