<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rarity.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @rarity.color %>
</p>

<% if (user_signed_in?) && current_user.admin? %>
<%= link_to 'Modifier', edit_rarity_path(@rarity), class:'btn btn-info' %> |
<% end %>
<%= link_to 'Retour', rarities_path, class:'btn btn-danger' %>
