<div class="class-show">
	<p id="notice"><%= notice %></p>

	<h1>
	  <%= @extension.name %>
	</h1>

	<p>
	  <strong>Release:</strong>
	  <%= @extension.release %>
	</p>

	<p>
	  <strong>Standard:</strong>
	  <%= @extension.standard %>
	</p>

	<% if (user_signed_in?) && current_user.admin? %>
	<%= link_to 'Modifier', edit_extension_path(@extension), class:'btn btn-info' %> |
	<% end %>
	<%= link_to 'Retour', extensions_path, class:'btn btn-danger' %>
</div>
