<%= simple_form_for(@type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nom', class: 'form-control' %>
  </div>

  <div class="form-actions action-form">
    <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
    <%= link_to 'Retour', types_path, class:'btn btn-danger' %>
  </div>
<% end %>
