<%= simple_form_for(@hs_class) do |f| %>
  <%= f.error_notification %>

  <div class="form-group col-lg-5 gal-form">
    <%= f.input :name, label: 'Nom', class: 'form-control' %>
    <%= f.input :color, label: 'Couleur', class: 'form-control' %>
    <%= f.input :hero_power, label: 'Pouvoir Héroique', class: 'form-control' %>
    <%= f.input :picture,label: 'Image', as: :file %>
  </div>

  <div class="form-actions action-form">
    <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
    <%= link_to 'Retour', hs_classes_path, class:'btn btn-danger' %>
  </div>
<% end %>
