<p id="notice"><%= notice %></p>

<h1>Liste des Classes</h1>

<% @hs_classes.each do |hs_class| %>
        <div style="width:50%;float:left;">
        <% if !hs_class.picture.to_s.include? "missing.png" %><a href="<%= hs_class.picture %>"><img src="<%= hs_class.picture %>" id="img-form"></a>
        <% elsif %>
        <a href="img/error/no_image.png"><img src="img/error/no_image.png" id="img-form"></a>
        <% end %>
          <p>Nom: <%= hs_class.name %></p>
          <p>Couleur: <%= hs_class.color %></p>
          <p>Pouvoir Héroique: <%= hs_class.hero_power %></p>

          <% if (user_signed_in?) && current_user.admin? %>
            <%= link_to 'Modifier', edit_hs_class_path(hs_class), class:'btn btn-warning' %>
            <%= link_to 'Effacer', hs_class, class:'btn btn-danger', method: :delete, data: { confirm: 'Êtes-vous sur de supprimer cette classe?' } %>
          <% end %>
        </div>
<% end %>

<br>

<% if (user_signed_in?) && current_user.admin? %>
<%= link_to 'Ajouter', new_hs_class_path, class:'btn btn-info add-class' %>
<% end %>