<p id="notice"><%= notice %></p>

<h1>Liste des Classes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Couleur</th>
      <th>Pouvoir Héroique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hs_classes.each do |hs_class| %>
      <tr>
        <td><%= hs_class.name %></td>
        <td><%= hs_class.color %></td>
        <td><%= hs_class.hero_power %></td>
        <td><%= link_to 'Montrer', hs_class, class:'btn btn-info' %></td>
        <td><%= link_to 'Modifier', edit_hs_class_path(hs_class), class:'btn btn-warning' %></td>
        <td><%= link_to 'Effacer', hs_class, class:'btn btn-danger', method: :delete, data: { confirm: 'Êtes-vous sur de supprimer cette classe?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter', new_hs_class_path, class:'btn btn-info' %>
