<h1>

  <%= link_to 'Cartes', hs_cards_url, class:'btn btn-info' %>
  <%= link_to 'Extensions', extensions_url, class:'btn btn-info' %>
  <%= link_to 'Classes', hs_classes_url, class:'btn btn-info' %>
  <%= link_to 'Raretés', rarities_url, class:'btn btn-info' %>
  <%= link_to 'Groupes', groups_url, class:'btn btn-info' %>
  <%= link_to 'Types', types_url, class:'btn btn-info' %>

</h1>