<%= simple_form_for @hscard do |f| %>
    <div class="row">
      <div class="form-group col-lg-5">
        <%= f.input :name, label: 'Nom', class: 'form-control' %>
        <%= f.association :group, label: 'groups', class: 'form-control' %>
        <%= f.association :type, label: 'type', class: 'form-control' %>
        <%= f.association :extension, label: 'extension', class: 'form-control' %>
        <%= f.input :cost, label: 'Coût', class: 'form-control' %>
        <%= f.association :rarity, label: 'Rareté', class: 'form-control' %>
        <%= f.association :hs_class, label: 'Classe', class: 'form-control' %>
        <%= f.input :attack_points, label: 'Points attaque', class: 'form-control' %>
        <%= f.input :life_points, label: 'Points de vie', class: 'form-control' %>
        <%= f.input :description, label: 'Description', class: 'form-control' %>
      </div>
    </div>
    <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
    <%= link_to 'Retour', hs_cards_url, class:'btn btn-danger' %>
<% end %>