
<h1> Liste des cartes</h1>

    <%= form_for_filterrific @filterrific do |f| %>
    <div class="form-inline">

      <div class ="form-group">
            Rechercher
            <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed'
                ) %>
      </div>

      <div class ="form-group">
            Classe
            <%= f.select(
                    :with_hs_class_name,
                    @filterrific.select_options[:with_hs_class_name],
                    { include_blank: 'Selectionner...' }
                ) %>
      </div>

      <div class ="form-group">
        Extension
        <%= f.select(
                :with_extension_name,
                @filterrific.select_options[:with_extension_name],
                { include_blank: 'Selectionner...' }
            ) %>
      </div>

      <div class ="form-group">
        Rareté
        <%= f.select(
                :with_rarity_name,
                @filterrific.select_options[:with_rarity_name],
                { include_blank: 'Selectionner...' }
            ) %>
      </div>

      <div class ="form-group">
        Type
        <%= f.select(
                :with_type_name,
                @filterrific.select_options[:with_type_name],
                { include_blank: 'Selectionner...' }
            ) %>
      </div>

      <div class ="form-group">
        Groupe
        <%= f.select(
                :with_group_name,
                @filterrific.select_options[:with_group_name],
                { include_blank: 'Selectionner...' }
            ) %>
      </div>

      <div class ="form-group">
            Trier par
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
      </div>

      <div class ="form-group reinit">
            <%= link_to(
                    'Réinitialiser les filtres',
                    reset_filterrific_url,
                    { class: 'btn btn-danger' }
                ) %>
      </div>
          <%= render_filterrific_spinner %>
    </div>

    <% end %>
<% if (user_signed_in?) && current_user.admin? %>
    <%= link_to 'Ajouter', new_hs_card_path, class:'btn btn-info' %>
<% end %>
<%= render(
        partial: 'hs_cards/list',
        locals: { hs_cards: @hscards }
    ) %>


