<h1> Afficher une carte</h1>

<p>Nom: <%= @hscard.name %></p>
<p>Coût: <%= @hscard.cost %></p>
<p>Points d'attaque: <%= @hscard.attack_points %></p>
<p>Points de vie: <%= @hscard.life_points %></p>
<p>Description: <%= @hscard.description %></p>

<p>
  Rareté:
  <% rarity = @hscard.rarity %>
  <% if rarity.nil? %>
      non défini.
  <% else %>
      <%= rarity_badge(rarity.name, rarity.color) %>
  <% end %>
</p>

<p>
  Classe:
  <% hs_class = @hscard.hs_class %>
  <% if hs_class.nil? %>
      non défini.
  <% else %>
      <%= hs_class_badge(hs_class.name, hs_class.color) %>
  <% end %>
</p>
<% if (user_signed_in?) && current_user.admin? %>
<%= link_to 'Modifier', edit_hs_card_path, class:'btn btn-info' %>
<% end %>
<%= link_to 'Retour', hs_cards_url, class:'btn btn-danger' %>
