<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deck.name %>
</p>

<p>
  <strong>Classes:</strong>
  <%= @deck.hs_class.name %>
</p>

<p>
  <strong>Views:</strong>
  <%= @deck.views %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @deck.mark %>
</p>

<p>
  <strong>Cartes:</strong>
  <%= render partial: 'hs_cards/list', locals: { hs_cards: @deck.hs_cards} %>
</p>

<div class="comment"><%= commontator_thread(@deck) %></div>


<% if (user_signed_in?) && current_user.admin? %>
  <%= link_to 'Modifier', edit_deck_path(@deck) %>
<% end %>
<%= link_to 'Retour', decks_path %>
